footer {
    padding: 50px 0 65px;
  }
  footer .list-inline {
    margin: 0;
    padding: 0;
  }
  footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }

  .btn {
    font-size: 14px;
    font-weight: 800;
    padding: 15px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .btn-primary {
    background-color: #0085a1;
    border-color: #0085a1;
  }
  .btn-primary:active,
  .btn-primary:focus,
  .btn-primary:hover {
    color: #fff;
    background-color: #00657b !important;
    border-color: #00657b !important;
  }
  .btn-lg {
    font-size: 16px;
    padding: 25px 35px;
  }
  
  a {
    color: #212529;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  a:focus,
  a:hover {
    color: #0085a1;
  }
  blockquote {
    font-style: italic;
    color: #868e96;
  }
  .section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
  }
  .caption {
    font-size: 14px;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  ::-moz-selection {
    color: #fff;
    background: #0085a1;
    text-shadow: none;
  }
  ::selection {
    color: #fff;
    background: #0085a1;
    text-shadow: none;
  }
  img::selection {
    color: #fff;
    background: 0 0;
  }
  img::-moz-selection {
    color: #fff;
    background: 0 0;
  }