<app-navbar></app-navbar>
<app-header></app-header>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Tiny-gram est un instagram-like permettant de mesurer la scalabilité d'un réseau social. Réalisé avec Angular 5 et Google app engine.</p>
      <p>Des mesures sont faites afin de comparer quelles sont les fonctionnalités qui scalle le mieux. Vous pouvez vous inscrire, connecter, poster vos photos préférées, voir votre timeline ou bien les photos postés avec tel ou tel hashtag, tout cela selon vos envies et gratuitement !</p>
      <p>Le code est disponible sur Github, que ce soit le backend ou frontend.</p>
    </div>
  </div>
</div>


<app-footer></app-footer>
