<app-navbar></app-navbar>
<app-header></app-header>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Tiny-gram est un instagram-like permettant de mesurer la scalabilité d'un réseau social. Réalisé avec Angular 5 et Google app engine.</p>
      <p>Des mesures sont faites afin de comparer quelles sont les fonctionnalités qui scallent le mieux. Vous pouvez, à travers 3 utilisateurs prédéfinis:</p>
      <ul>
        <li>Poster une photo avec sa description.</li>
        <li>Voir votre timeline.</li>
        <li>Follow un utilisateur depuis son nom d'utilisateur.</li>
        <li>Voir les photos d'un utilisateur depuis son nom d'utilisateur.</li>
        <li>Voir toutes les photos par catégorie selon l'hashtag de votre choix.</li>
      </ul>
      <p> Tout cela selon vos envies et gratuitement ! </p>
      <p>Certaines fonctionnalités sont proposés de manière à minimiser les accès au datastore, ayant un accès limité car gratuit nous avons préféré par exemple
        ne pas afficher tous les followers d'un utilisateur mais seulement celui choisis selon le nom que vous aurez rentré, afin d'éviter d'être souvent restreint.
      </p>
      <br>
      <p>Le code est disponible sur Github, que ce soit le backend ou frontend (cf README).</p>
    </div>
  </div>
</div>


<app-footer></app-footer>
