<br>
<div class="row">
  <div class="col-sm-1">
    <img src="https://vignette.wikia.nocookie.net/dbz-dokkanbattle/images/9/98/SuperVegito.png/revision/latest?cb=20160906131449" 
    class="rounded-circle " alt="Cinque Terre" width="50" height="50"> 
  </div>

  <div class="col-sm-9"> 
      <p>Enrico Eclyp - @dokkan33</p>
  </div>
</div>

<div>
    <img src="http://insanityraiburari.e-monsite.com/medias/images/berserk-3-.jpg"
    class="img-thumbnail" alt="user profil" width="400" height="200">
    <p>Voici un mec qui casse tout</p>
    <a>#guts</a> <a>#casca</a> <a>#berserk</a>
</div>

<hr>