<br>
<div class="row">
  <div class="col-sm-1">
    <img src="https://vignette.wikia.nocookie.net/dbz-dokkanbattle/images/9/98/SuperVegito.png/revision/latest?cb=20160906131449" 
    class="rounded-circle " alt="profil avatar" width="50" height="50"> 
  </div>

  <div class="col-sm-9"> 
      <p>
        <span>Enrico Eclypsia</span>
        <span id="username-post">@dokkan33</span>
      </p>
  </div>
</div>

<div>
    <img src= "{{ message.imageUrl }} "
    class="img-thumbnail" alt="user profil" width="400" height="200">
    <p> {{ message.content }}</p>
    <p >
        <a *ngFor="let hashtag of message.hashtags" href="#">{{ hashtag }} </a> 
    </p>
</div>

<hr>