<br>
<div class="row">
  <div class="col-sm-1">
    <img src="{{ message.user.avatar }} "
    class="rounded-circle " alt="profil avatar" width="50" height="50"> 
  </div>

  <div class="col-sm-9"> 
      <p>
        <span>{{ message.user.firstName }} {{ message.user.lastName }}</span>
        <span id="username-post">{{ message.user.userName }}</span>
      </p>
  </div>
</div>

<div>
    <img src= "{{ message.imageUrl }} "
    class="img-thumbnail" alt="user profil" width="400" height="200">
    <p> {{ message.content }}</p>
    <p >
        <a *ngFor="let hashtag of message.hashtags" href="#">{{ hashtag }} </a> 
    </p>
</div>

<hr>