<app-real-navbar></app-real-navbar>

<br>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <strong><p> Switch between accounts for testing scalability ➡️</p> </strong>
      </div>
      <div class="col-sm-3" id="btn-followed">
        <h5>Account followed by : {{ limit }} people</h5>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="updateLimit(100)">100</button>
            <button type="button" class="btn btn-outline-success btn-sm" (click)="updateLimit(1000)" >1000</button>
            <button type="button" class="btn btn-outline-info btn-sm" (click)="updateLimit(5000)">5000</button>
        </div>
      </div>
      <div class="col-sm-3" id="btn-followed">
        <h5>Getting  {{ limitMsg }} messages</h5>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="updateLimitMsg(10)">10</button>
            <button type="button" class="btn btn-outline-success btn-sm" (click)="updateLimitMsg(50)" >50</button>
            <button type="button" class="btn btn-outline-info btn-sm" (click)="updateLimitMsg(100)">100</button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
        <span style="font-style:italic">What's up?</span>
        <app-whatsup *ngIf="user"
        [user] = "user">
      </app-whatsup>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
          <div *ngIf="user" >
              <div class="card" style="width:250px;">
                  <img class="card-img-top" src="{{ user.avatar }}"
                   alt="Your avatar">
                  <div class="card-body">
                    <h4 class="card-title">{{ user.firstName }} {{ user.lastName }}</h4>
                    <p class="card-text">{{ user.userName }}</p>
                    <button href="#" class="btn btn-outline-dark">Settings</button>
                  </div>
                </div>
             </div>
      </div>
      <div class="col-sm-6">
        <app-timeline
        [limit] = "limit"
        [limitMsg] = "limitMsg" >
        </app-timeline>
      </div>
      <div class="col-sm-3"> nothing now</div>
    </div>
</div>


<app-footer></app-footer>