<app-real-navbar></app-real-navbar>

<br>

<div class="container-fluid">
    <h2>Your profil</h2>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-3" style="background-color:lavender;">
          <img src="https://vignette.wikia.nocookie.net/pelea-versus/images/8/84/16Gatsu-Guts-Berserk-Manga.jpg/revision/latest/scale-to-width-down/439?cb=20141103194702&path-prefix=es"
          class="img-thumbnail" alt="user profil" width="200" height="150">
          <h4>Benjamin Franklin</h4>
          <h6>@benja44</h6>
      </div>
      <div class="col-sm-6" style="background-color:lavenderblush;">
        <app-timeline></app-timeline>
      </div>
      <div class="col-sm-3" style="background-color:lavender;"> nothing now</div>
    </div>
</div>


<app-footer></app-footer>