<div class="row">
    <div class="col-sm-1">
        <img  *ngIf="avatar" [src]='avatarUrl()' 
        class="rounded-circle " alt="profil avatar" width="50" height="50">
    </div>
    <div class="col-sm-9">
        <div class="form-group">
            <input type="text" class="form-control" id="usr" #contentInput>
        </div>
    </div>
    <div class="col-sm-2">
        <a (click)="open(content)" data-toggle="tooltip" title="Add an image">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="far fa-image fa-stack-1x fa-inverse"></i>
            </span>
          </a>
    </div>
    &nbsp;{{ postResult }}

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Add an image</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Image url:</p>
            <div class="form-group">
                <input type="text" class="form-control" id="usrImginput" #imgInput>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Close click'); postIt(contentInput.value, imgInput.value);">Post</button>
        </div>
    </ng-template>
</div>