<div class="row">
    <div class="col-sm-1">
        <img src="https://vignette.wikia.nocookie.net/pelea-versus/images/8/84/16Gatsu-Guts-Berserk-Manga.jpg/revision/latest/scale-to-width-down/439?cb=20141103194702&path-prefix=es" 
        class="rounded-circle " alt="profil avatar" width="50" height="50">
    </div>
    <div class="col-sm-9">
        <div class="form-group">
            <input type="text" class="form-control" id="usr">
        </div>
    </div>
    <div class="col-sm-2">
        <a href="#" data-toggle="tooltip" title="Add an image">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="far fa-image fa-stack-1x fa-inverse"></i>
            </span>
          </a>
    </div>
</div>